
.container-one{
    text-align: center;
}
.Col-container {
    display: flex;
    background-color: black;
    color: white;
    border-style: double;
    width: 100%;
    
  }
 .Col1{
     width: 33.3%;
     padding: 10px;
 }
 .Col2{
     width: 66.7%;
     border-style: double;
     border-top: 0;
     border-bottom: 0;
     border-right: 0;
     padding: 10px;

    }
 .container-row{
    display: flex;
    width: 100%;
    background-color: blue;
    border-color: white;
    border-style: double;
    color: red;

 }
 .RowOne{
    width: 100%;
    padding: 10px;

 }
 .Row{
     width: 33.3%;
     border-style: double;
     border-color: white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    padding: 10px;

    }

.container-two{
    margin: auto auto;
    height: 300px;
    display: flex;
    color: white;
    background-color: green;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
.width300{
    padding: 10px 0;
    width: 300px;
    background-color: blue;
    margin: 10px;

}
.width100{
    width: 100px;
    padding: 70px 0;
    background-color: blue;
    margin: 10px;

}
.widthauto{
    width: 100%;
    padding: 10px 0;
    background-color: blue;
    margin: 10px;

}

@media (max-width:770px){
    .container-two{
        height: 500px !important;
    }
    .width300{
        padding: 30px 0;
        width: 300px !important;

    }
    .width100{
        padding: 100px 0;
        width: 100px !important;

    }
    .widthauto{
        padding: 180px 0;

    }
}